/* =======================================================
*
* Styles
*
* ======================================================= */

body {
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.5;
  height: 100%;
  overflow-y: hidden;
  background: url(../images/holly-mandarich-232348.jpg) no-repeat #0c5358;
  background-size: cover;
  background-position: center center;
}

.logo-odp {
  max-width: 80%;
  margin-bottom: 1em;
}

.logo-bah {
  max-width: 50%;
  margin-bottom: 1em;
}

a {
  color: #00a4b4;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

a:hover, a:active, a:focus {
  color: #00a4b4;
  outline: none;
  cursor: pointer;
}

p {
  margin-bottom: 1.5em;
}

h1, h2, h3, h4, h5, h6 {
  color: #000;
  font-family: "Oswald", Arial, sans-serif;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 0 0 30px 0;
}

h1 em, h2 em, h3 em, h4 em, h5 em, h6 em {
  font-family: "Georgia", Times New Roman, serif;
  text-transform: none;
  font-style: italic;
}

::-webkit-selection {
  color: #818892;
  background: #f9f6f0;
}

::-moz-selection {
  color: #818892;
  background: #f9f6f0;
}

::selection {
  color: #818892;
  background: #f9f6f0;
}

#odp-home {
  position: relative;
  width: 100%;
  color: #fff;
}

#odp-home, #odp-home .text-wrap {
  height: 1000px;
}

#odp-home .text-wrap {
  display: table;
  width: 100%;
  position: relative;
  z-index: 4;
}

#odp-home .text-inner {
  display: block;
  vertical-align: top;
  margin-top: 200px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  #odp-home .text-inner {
    margin-top: 100px;
  }
}

#odp-home .text-inner a {
  color: white;
  border-bottom: 1px dashed rgba(255, 255, 255, 0.5);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

#odp-home .text-inner a:hover, #odp-home .text-inner a:active, #odp-home .text-inner a:focus {
  text-decoration: none;
  color: white;
  border-bottom: 1px dashed white;
}

#odp-home .text-inner h1 {
  font-size: 50px;
  color: white;
  margin: 0 0 20px 0;
}

#odp-home .text-inner h2 {
  font-size: 28px;
  line-height: 38px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.8);
  margin: 0;
}

.btn {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.btn:hover, .btn:active, .btn:focus {
  outline: none;
}

.btn {
  text-transform: uppercase;
  letter-spacing: 2px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.btn.btn-primary {
  background: #00a4b4;
  color: #fff;
  border: none !important;
  border: 2px solid transparent !important;
}

.btn.btn-primary:hover, .btn.btn-primary:active, .btn.btn-primary:focus {
  box-shadow: none;
  background: #007c82;
  cursor: pointer;
}

.btn:hover, .btn:active, .btn:focus {
  background: #007c82 !important;
  color: #fff;
  outline: none !important;
}

.btn.btn-default:hover, .btn.btn-default:focus, .btn.btn-default:active {
  border-color: transparent;
}
